In [60]:
import numpy as pd

In [61]:
 import pandas as pd

In [62]:
import os

In [63]:
os.getcwd()

'C:\\Users\\E682'

In [64]:
#Chargement du document
df=pd.read_excel('Copie_de_Coeur.xlsx')

In [65]:
#Vérification des lignes dupliquées
df.duplicated()
#on peut utiliser duplicated(keep=false) ou duplicated(keep="first") ou keep="last"

0      False
1      False
2      False
3      False
4      False
       ...
913    False
914    False
915    False
916    False
917    False
Length: 918, dtype: bool

In [66]:
#Vérification des données manquantes
df.isna()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
913,False,False,False,False,False,False,False,False,False,False,False,False
914,False,False,False,False,False,False,False,False,False,False,False,False
915,False,False,False,False,False,False,False,False,False,False,False,False
916,False,False,False,False,False,False,False,False,False,False,False,False
917,False,False,False,False,False,False,False,False,False,False,False,False

In [67]:
#Suppression des données manquants
df.dropna()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [68]:
#Comment supprimer les doublons
df.drop_duplicates(keep=False)
#On pouvait utiliser aussi df.drop_duplicattes() ou on pouvait utiliser les varriantes qui vont avec keep c'est à dire keep='first' ou keep='last'

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [69]:
#Vérification des constantes 
df.nunique()
#contante équivaut à effectif égal à 1
#Il n'y a donc pas de constante

AGE             50
SEXE             2
TDT              4
PAR             67
CHOLESTEROL    222
GAJ              2
ECG              3
FCMAX          119
ANGINE           2
DEPRESSION      53
PENTE            3
CŒUR             2
dtype: int64

In [75]:
#Supression des constantes
df.nunique(axis=0,dropna=True)

AGE             50
SEXE             2
TDT              4
PAR             67
CHOLESTEROL    222
GAJ              2
ECG              3
FCMAX          119
ANGINE           2
DEPRESSION      53
PENTE            3
CŒUR             2
dtype: int64

In [76]:
#Recodage des variables qualitatives
def func(df):
    for col in df.select_dtypes('object').columns:
        df[col]=df[col].astype('category').cat.codes
    return(df)
func(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,1,0,140,289,0,1,172,0,0.0,0,0
1,49,0,3,160,180,0,1,156,0,1.0,2,1
2,37,1,0,130,283,0,2,98,0,0.0,0,0
3,48,0,1,138,214,0,1,108,1,1.5,2,1
4,54,1,3,150,195,0,1,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,2,110,264,0,1,132,0,1.2,2,1
914,68,1,1,144,193,1,1,141,0,3.4,2,1
915,57,1,1,130,131,0,1,115,1,1.2,2,1
916,57,0,0,130,236,0,0,174,0,0.0,2,1
917,38,1,3,138,175,0,1,173,0,0.0,0,0

In [77]:
#Normalisation de chaque valeur/valuer max

In [80]:
df.dtypes

AGE              int64
SEXE              int8
TDT               int8
PAR              int64
CHOLESTEROL      int64
GAJ              int64
ECG               int8
FCMAX            int64
ANGINE            int8
DEPRESSION     float64
PENTE             int8
CŒUR             int64
dtype: object

In [88]:
a=df.select_dtypes('int64','float64').columns
a

Index(['AGE', 'PAR', 'CHOLESTEROL', 'GAJ', 'FCMAX', 'CŒUR'], dtype='object')

In [89]:
a['CŒUR'].drop

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [97]:
def a(df):
    for i in df[:12]:
        new_var=i
    return(df)
print(a)

<function a at 0x0000024113C62430>